.Exercises_Software_Foundations_chapter1.aux
.Software_Foundations_chapter1_course.aux
Exercises_Software_Foundations_chapter1.glob
Exercises_Software_Foundations_chapter1.vo
Exercises_Software_Foundations_chapter1.vok
Exercises_Software_Foundations_chapter1.vos
Software_Foundations_chapter1_course.glob
Software_Foundations_chapter1_course.vo
Software_Foundations_chapter1_course.vok
Software_Foundations_chapter1_course.vos
